<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do list</title>
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <!-- external css -->
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  
  <div class="container">

    <%- include("header") -%>
    <h3 class="date-text"> <%= listType %> </h3>
      <div class="list-container">
        <ul class="list">
          
          <% newListItems.forEach(function(item) {%>
            <% if(item.name!="") {%>
            <form action="/delete" method="post">
              <li><input type="checkbox" class="check-box" name="checkBox" value="<%= item._id %>" onchange="this.form.submit()"> 
                    <span class="itemVal">
                      <%= item.name %>
                    </span>
              </li>
            </form>
          <% } }) %>
        </ul>
        <form action="/" method="post">
          <input type="text" name="item" placeholder="New Item" autocomplete="off"> 
          <button type="submit" name="listType" value="<%= listType %>"><span class="plus-sign">&#43;</span></button>
        </form>
      </div>
    
  </div>

</body>
</html>